flows/main_kaizen.newport_databricks_job.yml
namespace: kaizen.newport
id: databricks_job

labels:
  layer: Ingestion
  owner: Savas

inputs:
  - id: job_id
    type: STRING
    required: true
    defaults: "987366449263258"
  - id: operator
    type: STRING
    required: true

pluginDefaults:
  - type: io.kestra.plugin.databricks.job.*
    values:
      host: https://dbc-a8f6bc8e-f728.cloud.databricks.com
      authentication:
        token: "{{ secret('DATABRICKS_TOKEN') }}"

tasks:
  - id: log_token
    type: io.kestra.plugin.core.log.Log
    message: "Databricks Token: {{ secret('DATABRICKS_TOKEN') | abbreviate(7) }}"

  - id: submit_run_and_wait
    type: io.kestra.plugin.databricks.job.SubmitRun
    host: https://dbc-a8f6bc8e-f728.cloud.databricks.com
    authentication:
      token: "{{ secret('DATABRICKS_TOKEN') }}"
    runName: "My Kestra Triggered Job Run"
    waitForCompletion: PT30M
    runTasks:
      - taskKey: trigger-existing-job
        runJobTask:
          jobId: "{{ inputs.job_id }}"
          jobParameters:
            current_date: "{{ now() }}"
            operator: "{{ inputs.operator }}"

  - id: done
    type: io.kestra.plugin.core.log.Log
    message: |
      Databricks job completed successfully.
      Run ID: {{ outputs.submit_run_and_wait.runId }}
      Run URI: {{ outputs.submit_run_and_wait.runURI }}