flows/main_ingestion.team_databricks_job_wait.yml
id: databricks_job_wait
namespace: ingestion.team

inputs:
  - id: job_id
    type: STRING
    required: true
    defaults: "987366449263258" # ← your job id

pluginDefaults:
  - type: io.kestra.plugin.databricks.job.*
    values:
      host: https://dbc-a8f6bc8e-f728.cloud.databricks.com # Ensure this is your actual Databricks host
      authentication:
        token: "{{ secret('DATABRICKS_TOKEN') }}"

tasks:
  - id: log_token
    type: io.kestra.plugin.core.log.Log
    message: "Databricks Token: {{ secret('DATABRICKS_TOKEN') | abbreviate(7) }}"

  - id: submit_run_and_wait
    type: io.kestra.plugin.databricks.job.SubmitRun
    # Explicitly define host and authentication here as well, for robustness
    # If pluginDefaults are correctly applied, these will effectively be redundant
    # but help diagnose the current error.
    host: https://dbc-a8f6bc8e-f728.cloud.databricks.com # Replace with your actual Databricks host
    authentication:
      token: "{{ secret('DATABRICKS_TOKEN') }}"
    runName: "My Kestra Triggered Job Run"
    waitForCompletion: PT30M
    runTasks:
      - taskKey: trigger-existing-job
        runJobTask:
          jobId: "{{ inputs.job_id }}"

  - id: done
    type: io.kestra.plugin.core.log.Log
    message: |
      Databricks job completed successfully.
      Run ID: {{ outputs.submit_run_and_wait.runId }}
      Run URI: {{ outputs.submit_run_and_wait.runURI }}